<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-Dev-Mobile</title>
    <!--VUE3 CDN-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="manifest" href="/manifest.json">
</head>
<body id="app">
    <div class="nav">
        <img src="assets/images/The-Simpsons-28-04-2025 3 (1).png" alt="The Simpsons">
    </div>
        <img src="assets/images/image 1.png" alt="banner1" class="banner">
        <div class="banner-info">
            <h1 class="title-info">POP!</h1>
            <p class="description-info">Exclusivo Funko! Simpsons</p>
            <div class="sobre-info"><p>Sobre</p></div>
        </div>
        <img src="assets/images/banner2.png" alt="banner2" class="banner">

    <div id="container" >
        <div class="cart">
            <img src="assets/images/shopping_cart_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="icon-cart" class="icon-cart"> 
            {{ cart }}
        </div>
        <h2>Novos Funkos Para Você!</h2>
        <div class="product-display">
            <div 
                class="product-container" 
                v-for="(product, index) in products" 
                :key="product.id">
                <img src="assets/images/favorite_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="Favoritar" class="icon-heart">
                <a :href="'product.html?id=' + product.id" style="text-decoration: none;">
                    <div class="product-image">
                        <img :src="product.image" :alt="product.title">
                    </div>
                    <div class="product-info">
                        <h3 class="product-name">{{ product.title }}</h3>
                        <p class="product-price">{{product.price}}</p>
                        <p v-if="product.inStock >= 10"class="inStock">In Stock</p>
                        <p v-else-if="product.inStock > 1 && product.inStock < 10" style="color: rgb(255, 191, 0);font-size: 22px;  font-family: Roboto, sans-serif;font-weight: 400;">Almost out of stock</p>
                     <p v-else style="color: red;font-size: 22px; font-family: Roboto, sans-serif;font-weight: 400;">Out of stock</p>
                </a>
                    <button 
                        class="button" 
                        :class="{ disabledButton: product.inStock < 1 }"
                        @click="addToCart"
                        :disabled="product.inStock < 1"
                    ><img src="assets/images/shopping_cart_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="icon-cart" class="icon-cart"></button>
                    </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <img src="assets/images/The-Simpsons-28-04-2025 3 (1).png" alt="The Simpsons">
      </div>
    <script src="script.js"></script>
</body>
<script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js')
        .then(function () {
          console.log('service worker registered');
        })
        .catch(function () {
          console.warn('service worker failed');
        });
    }
  </script>
</html>

