@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.banner{
  width: 100%;
  margin: 0;
  height: auto;
  padding: 0;
}

img {
  width: 90%;
  height: 200px;
  padding: 15px;
}

/* GERAL */
body {
  margin: 0;
  font-family: 'Passion One', sans-serif;
   background-color: #FFE448;
}

h2{
  text-align: center;
  font-size: 66px;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;}

a{
  font-weight:bold;
  font-style: normal;
  font-size: 50px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  
}

/* BOTÃO */
.container-button{
  display: flex;
  flex-direction: row;
  margin-top: 20%;

}

.button {
  width: 140px;
  height: 61px;
  background-color: #f0eaea;
  border: none;
  border-radius: 60px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: auto;
  font-size: 14px;
  font-family: "Reboto", sans-serif;
  font-weight: 800;
;
}

button img{
  width: 20px;
  height: 20px;
}

/* NAVEGAÇÃO */
.nav {
  width: 100%;
  background-color: #1D1C1C;
  height: 200px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
} 
.nav img{
  width: 193px;
  height: 100px;
}

/* CARRINHO */
.cart {
  width: 120px;
  height: 41px;
  background-color: #f0eaea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 60px;
  background-color: #f0eaea;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin: 30px 100px 0 auto;
  text-decoration: none;

}
/*RODAPÉ*/

.footer {
  width: 100%;
  background-color: #1D1C1C;
  height: 200px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
} 
.footer img{
  width: 193px;
  height: 100px;
}

.banner-info {
  background-color: #1D1C1C;
  height: 243px;
  padding-left: 200px ;
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin: 0;

}

.title-info{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 1px;
  margin-top: 3%;
}

.description-info{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 30px;
  margin: 0%;
}

.sobre-info{
  width: 180px;
  height: 30px;
  font-size: 20px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1D1C1C;
  font-weight: 500;
  border: none;
  border-radius: 80px;
  margin-top: 1%;
}

/* PRODUTOS */
.product-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}


/* CONTAINER INDIVIDUAL DO PRODUTO */
.product-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
  height: 80%;
  background: white;
  border: 3px  solid rgb(227, 223, 223)  ;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* ÍCONE DE CORAÇÃO */
.icon-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* INFO DO PRODUTO */
.product-info {
  margin-top: auto;
  align-items: center;
  }

 .product-image {
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}
.product-name{
  font-size: 24px;
  margin-bottom: 1px;
  font-weight: 200;
  text-decoration: none;
  color: #1D1C1C;
}

.product-price {
  font-size: 20px;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.inStock {
  color: green;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
/*PRODUCT-DETAILS*/
.details-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  gap: 40px;
  margin: auto;
  margin: 5% 10% 5% 10%;
  flex-wrap: wrap;

}

.details-img {
  width: 571px;
  height: 538px;
  border-radius: 30px;
  border:  10px rgb(202, 202, 202);
}

.details-name{
  width: 90%;
  font-size: 64px;
  margin-bottom: 1px;
  font-weight: 400;
  text-decoration: none;
  color: #1D1C1C;
}

.details-price {
  width: 20%;
  font-size: 36px;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 100px;
}

.product-quantity{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #010101;
}



.details-items{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
}


/* ÍCONE DO CARRINHO */
.icon-cart {
  width: 22px;
  height: 22px;
}

/* RESPONSIVIDADE */
@media (max-width: 1024px) {
  .product-container {
    width: 48%;
  }

  .cart {
    margin: 20px;
    font-size: 20px;
  }

  .button {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .product-container {
    width: 100%;
  }

  h1 {
    font-size: 36px;
  }

  .cart {
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    font-size: 18px;
  }

  .button {
    width: 80%;
    margin: 20px auto;
  }

  .product-display {
    flex-direction: column;
    padding: 10px;
  }

  .product-info {
    margin-left: 0;
  }
}